.shared-links
  .links
    Or maybe you need to...
    %ul
      - if controller_name != 'sessions'
        %li
          = link_to "sign in", new_session_path(resource_name)
      - if devise_mapping.registerable? && controller_name != 'registrations'
        %li
          = link_to "sign up", new_registration_path(resource_name)
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        %li
          = link_to "change your password", new_password_path(resource_name)
      - if devise_mapping.confirmable? && controller_name != 'confirmations'
        %li
          = link_to "send confirmation instructions again", new_confirmation_path(resource_name)
      - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
        %li
          = link_to "send unlock instructions again", new_unlock_path(resource_name)
