- content_for :body_class, 'floating'
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  %fieldset
    %h2 Change your password
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %fieldset
    .name.oneline
      = f.label :password
    .medium-field
      = f.password_field :password
  %fieldset.oneline
    .name
      = f.label :password_confirmation, 'Confirmation'
    .medium-field
      = f.password_field :password_confirmation
  %fieldset.oneline
    .data
      = f.submit "Change my password"
= render :partial => "devise/shared/links"
