- content_for :body_class, 'floating'
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    %h2 Sign in
  %fieldset.oneline
    .name
      = f.label :email
    .medium-field
      = f.text_field :email
  %fieldset.oneline
    .name
      = f.label :password
    .medium-field
      = f.password_field :password
  - if devise_mapping.rememberable?
    %fieldset.oneline
      .check-field
        = f.check_box :remember_me
      .name.left
        = f.label :remember_me
  %fieldset.oneline
    .data
      = f.submit "Sign in"
= render :partial => "devise/shared/links"
