!!!
%html
  %head
    %title { results }
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'jquery-ui-1.8.9.custom.min.js'
    
    = stylesheet_link_tag 'layout'
    = stylesheet_link_tag 'colors'
    = stylesheet_link_tag 'fonts'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body{ :class => content_for(:body_class) }
    #header
      .title
        %h1 results only
      .user
        - if user_signed_in?
          Hello, #{current_user.name}. Need to
          = succeed '?' do
            = link_to "sign out", destroy_user_session_path
    #flash
      %div
        - flash.each do |type, message|
          .flash{ :class => type }
            .message
              = image_tag "#{type}-color.png"
              .close &#10005;
              = message
    - if user_signed_in?
      #navigation
        %ul.menu
          %li{ :class => current_page?(root_path) ? 'selected' : nil }
            = link_to 'Dashboard', root_path
          %li{ :class => (current_page?(account_settings_path) || current_page?(projects_settings_path) || current_page?(vacation_settings_path)) ? 'selected' : nil }
            = link_to 'Settings', projects_settings_path
      #subnavigation
        = yield :subnavigation
    #page
      = yield
    -# .footer
      .wrap
        .content
          Some sort of footer content
